[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-kormoran.png
Exec=sailfish-qml harbour-kormoran
Name=harbour-kormoran

